!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TurboPlayground
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  %body{ class: 'h-11/12' }
    = render 'application/header'
    #flash= render "layouts/flash"
    %main.container.mx-auto.mt-28.px-5.flex.w-full.h-full
      .flex.flex-col.w-full.h-full
        .font-bold.text-2xl= 'Frame number One [turbo_action: :replace]'
        .border-2.rounded-xl.border-green-500.w-full.h-full.flex.flex-col.p-4
          = yield
